@{
    ViewBag.Title = "Справка";
}

<h1>Справка</h1>


<div class="card" style="border-bottom-color: rgba(0, 38, 255, 0.20); border-radius: 10px">
    <div class="card-body" style="background-color: rgba(0, 38, 255, 0.20)">
        Это веб-приложение было созданно в рамках технологической практики на втором курсе бакалавриата Программной Инженерии.
    </div>

    <div class="card-body">
        Выполнила: Гурова Анна, ПИ-18-1
    </div>
    <div class="card-body">
        Руководитель практики: Ланин Вячеслав Владимирович
    </div>
    <div class="card-footer">
        НИУ ВШЭ - Пермь
    </div>
</div>
