@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тезаурус</title>
</head>
<body>
    <div>
        <form method="get" action="/Home/Search">

            <input type="text" name="like" /><br />

            <button name="action" value="search">Искать</button>
        </form>
    </div>
</body>
</html>