@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new DefinitionExtractionWeb.Models.DEDatabaseEntities();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тезаурус</title>
</head>
<body>
    <div>
        <form method="get" action="/Home/Search">
            <div>
                <input type="text" name="like" /><br />
            </div>
            <div>
                <button name="action" value="search">Искать</button>
            </div>
         </form>
    </div>
</body>
</html>