@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new DefinitionExtractionWeb.Models.DEDatabaseEntities();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тезаурус</title>
</head>
<body>
    <div>
        <form method="get" action="/Home/Search">
            <input type="text" name="like" /><br />
            <button name="action" value="search">Искать</button>
        </form>
    </div>
    <a href="/Definition/Details/@db.Definitions.Find(6).Descriptor.ID"> Редактировать </a>
</body>
</html>