@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new DefinitionExtractionWeb.Models.DEDatabaseEntities();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тезаурус</title>
</head>
<body>
    <div class="text-center">
        <h1>Тезаурус</h1>

        Введите термин и найдите определение для него!
    </div>
    <searchbox>
        
        <form method="get" action="/Home/Search">
            <div class="row row-no-gutters">
                <div class="offset-md-4 col-md-3">
                    @Html.Editor("like", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Искать" class="btn btn-outline-secondary" />
                </div>
            </div>
        </form>
    </searchbox>
</body>
</html>