@model DefinitionExtractionWeb.Models.DefinitionLink
@{
    ViewBag.Title = "test";
}

@Html.TextBox("ReceiptContentTextBox", @Model.Definition.Definition_content)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Войти" class="btn btn-outline-secondary" onclick="GetSelectedText()" />
        </div>
    </div>

<script>
    function GetSelectedText() {
        var selectedString = "";
        if (document.selection) {
            $("#<%=ReceiptContentTextBox.ClientID%>").focus();
            var s = document.selection.createRange();
            selectedString = s.text;
        }
        alert(selectedString);
        return selectedString;
    }
</script>

